.productList {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.productItem {
  background-color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 15px;
  min-height: 250px;
  min-width: 300px;
  text-align: center;
}

.productDescription {
  text-align: left;
  width: 100%;
}
